@model IEnumerable<entities.Models.StudentModel>

@{
    ViewData["Title"] = "DisplayStudents";
}

<h1>DisplayStudents</h1>

<p>
    <a asp-action="AddStudents">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                <a asp-action="EditStudents" asp-route-StudentId="@item.StudentId">Edit</a> |
                <a asp-action="DeleteStudents" asp-route-StudentId="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
